<!doctype html>
<html lang="zh-cn">
<head>
    <!-- html元信息 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- 引用bootstrap样式表 -->
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <!-- 自定义部分的样式表 -->
    <link rel="stylesheet" type="text/css" href="/css/t1.css">
    <title>第三题搜索结果</title>
</head>
<body>

<!-- 页面背景 -->
<div id="login-bg" class="container-fluid">

  <div class="bg-img"></div>
  <div class="bg-color"></div>
</div>
<!-- End 页面背景 -->

<div class="container" id="login">
	<div class="row justify-content-center">
	<div class="col-lg-10">
	  <div class="news_list">
		<h1>共搜索到用户{{result | length}}个：</h1>
		  <ol>
			{% for user in result %}
		  		<li>{{user.username}}</li>
			{% endfor %}
		  </ol>
	  </div>
		<br>
		<div class="white-font">Copyright &copy; 2022.<a target="_blank" href="http://cd.guc.edu.cn/">吉利学院</a>版权所有.</div>
	</div>
	</div>
</div>


</body>
</html>